<ion-header titulo="Grid">

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="3">Columna1</ion-col>
      <ion-col size="10">Columna2</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Fila1</ion-col>
      <ion-col>Fila2</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-md-6 push-md-3>
        1 of 3
      </ion-col>
      <ion-col col-md-3 push-md-3>
        2 of 3
      </ion-col>
      <ion-col col-md-3 pull-md-9>
        3 of 3
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row>
    <ion-col col-xs-4 col-sm-9 col-md-6></ion-col>
<ion-col col-xs-8 col-sm-3 col-md-6></ion-col>
  </ion-row>

  <ion-grid>
    <ion-row>
      <ion-col sizeLg="3" sizeMd="6" sizeXs="9" style="background-color: red;" >Texto A</ion-col>
      <ion-col sizeLg="9" sizeMd="6" sizeXs="3" style="background-color: blue;">Text B</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
