<app-header titulo="Checkbox"></app-header>

<ion-content>
  <ion-list>
    <ion-list-header>Shopphing List</ion-list-header>
    <ion-item>
      <ion-label>Potatos</ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Milk</ion-label>
      <ion-checkbox color="dark" checked slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Bacon</ion-label>
      <ion-checkbox color="danger" checked slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
