<app-header titulo="Badge"></app-header>

<ion-content>
  <ion-lis-header>
    <ion-item>
      <ion-label>Followers:</ion-label>
      <ion-badge color="secundary">5K</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Followers:</ion-label>
      <ion-badge color="tertiary">5K</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Followers:</ion-label>
      <ion-badge color="success">5K</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Followers:</ion-label>
      <ion-badge color="warning">5K</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Followers:</ion-label>
      <ion-badge color="danger">5K</ion-badge>
    </ion-item>
  </ion-lis-header>
</ion-content>
