<app-header titulo="Button"></app-header>

<ion-content>
  <header>Small</header>
  <ion-button size="small">Default</ion-button>
  <ion-button size="small" color="secundary">Default</ion-button>
  <ion-button size="small" color="tertiary">Default</ion-button>


  <header>Default size</header>
  <ion-button color="success">Success</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger">Danger</ion-button>

  <header>Default outline</header>
  <ion-button color="success" fill="outline">Success</ion-button>
  <ion-button color="warning" fill="outline">Warning</ion-button>
  <ion-button color="danger" fill="outline">Danger</ion-button>

  <header>Default round</header>
  <ion-button color="success" shape="round">Success</ion-button>

  <header>Large size</header>
  <ion-button size="large" color="light">Success</ion-button>
  <ion-button size="large" color="medium">Warning</ion-button>
  <ion-button size="large" color="dark">Danger</ion-button>

  <header>Block width</header>
  <ion-button expand="block">A block button</ion-button>

  <header>Full width</header>
  <ion-button expand="full">A full-width button</ion-button>

</ion-content>
