<app-header titulo="Input"></app-header>

<ion-content>
  <ion-input></ion-input>

  <ion-input value="custom"></ion-input>

  <ion-input placeholder="Ingrese el nombre"></ion-input>

  <ion-input clearInput value="Esto se puede borrar"></ion-input>

  <ion-input type="number"></ion-input>

  <ion-input value="Desactivado" disabled></ion-input>

  <ion-input value="Solo lectura" readonly></ion-input>

  <ion-input type="password" placeholder="Digite su contraseña"></ion-input>

  <ion-item>
    <ion-label position="floating">Label flotante</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Label fijo</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Label apilado</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-textarea placeholder="Deje sus comentarios ..."></ion-textarea>

</ion-content>
